body {
    font-family: "EB Garamond", Garamond, Georgia, serif;
    font-size: 1.15rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1.25rem;
}

h1 {
    font-size: 1.5rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.25rem;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.125rem;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}

.quote {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
    color: blue;
}

.header-image {
        max-width: 100%;
        height: auto;
        display: block;
        border: 0px;
    }

.book-image {
        max-width: 100%;
        height: auto;
        display: block;
        border=1px solid #0040c0;
        padding: 4px;
    }
    
img {
max-width: 100%;
    height: auto;
    display: block;
}
